*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#F8FAFC;
}

nav{
background:#0F172A;
padding:20px 40px;

display:flex;
justify-content:space-between;
align-items:center;
}

nav h2{
color:white;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.profile-container{

display:flex;
justify-content:center;
align-items:center;

height:80vh;
}

.profile-card{

width:400px;

background:white;

padding:30px;

border-radius:15px;

text-align:center;

box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.avatar{

font-size:70px;

margin-bottom:20px;
}

.info-box{

display:flex;

justify-content:space-between;

margin:30px 0;
}

.info{

background:#F1F5F9;

padding:15px;

border-radius:10px;

width:45%;
}

button{

padding:12px 25px;

background:#2563EB;

color:white;

border:none;

border-radius:8px;

cursor:pointer;
}